<h2>Vonalak</h2>
<div class="grid">
    <% data.routes.forEach((route)=>{ %>
        <a href="/directions-for-route/<%=route.route_id%>">
            <div class="route-field animation1"
                style="background-color: #<%=route.route_color%>; color: #<%=route.route_text_color%>;">
                <h2>
                    <%=route.route_short_name %>
                </h2>
            </div>
        </a>
        <% }); %>
</div>
<hr>
<h2>Társasági közlemények</h2>
<% if(Array.isArray(data.feed)){ %>
    <% data.feed.forEach(post=>{ %> 
        <div class="card">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="12" r="9" />
                    <line x1="12" y1="8" x2="12.01" y2="8" />
                    <polyline points="11 12 12 12 12 16 13 16" />
                  </svg>
            </div>
            <div>
                <h3><%= post.title %> </h3>
                <p><%= post.text %> </p>
                <a target="_blank" class="external" href="<%=post.link %> ">További információk</a>
            </div>
        </div>
    <% }); %> 
<% }else{ %> 
    <h3><i><%= data.feed %> </i></h3>
<% } %> 
<hr>
<h2>Társaságok</h2>
<% if(data.agencies.length> 0){ %>
    <div class="column">
        <% data.agencies.forEach(agency=>{ %>
            <div class="centered-card align-center">
                <h3>
                    <%= agency.agency_name %>
                </h3>
                <div class="row">
                    <a href="<%= agency.agency_url%>">
                        <svg xmlns="http://www.w3.org/2000/svg" class="animation1 icon icon-tabler icon-tabler-world" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="12" cy="12" r="9" />
                            <line x1="3.6" y1="9" x2="20.4" y2="9" />
                            <line x1="3.6" y1="15" x2="20.4" y2="15" />
                            <path d="M11.5 3a17 17 0 0 0 0 18" />
                            <path d="M12.5 3a17 17 0 0 1 0 18" />
                        </svg>
                    </a>
                    <a class="animation1" href="tel:<%= agency.agency_phone%>">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                        </svg>
                    </a>
                </div>
            </div>
        <% }); %>
    </div>
<% }else{ %>
    <p><i>Nincs információ</i></p>
<% } %>
<hr>
<h2>Technikai jellegű információk</h2>
<div class="centered-card">
    <h3>Adatbázis</h3>
    <p>Frissítve: <strong><%= data.update %> </strong></p>
    <a class="underline" href="http://szegedimenetrend.hu" target="_blank">Adatbázis forrása</a>
</div>
<div class="centered-card">
    <h3>Közlemények</h3>
    <p>A közlemények az SZKT <a class="underline" href="https://szkt.hu" target="_blank">hivatalos oldaláról</a> származnak.</p>
</div>
<div class="centered-card">
    <h3>Hibabejelentés</h3>
    <p>Ha bármilyen technikai jellegű problémát tapasztalsz, vagy ötleted/javaslatod meg szeretnéd osztani, az alábbi linken megteheted!</p>
    <a class="underline" href="mailto:balint.berente@gmail.com?subject=Szimpla Menetrend visszajelzés" >Üzenet küldése a fejlesztőnek</a>
</div>
<hr>
<h2>A Projekt</h2>
<div class="centered-card">
    <img src="/favicon/apple-icon.png" alt="Logo">
    <h3>Szimpla Menetrend</h3>
    <a href="https://github.com/berenteb/szimpla-menetrend"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
      </svg></a>
</div>
<img alt="GitHub package.json version" src="https://img.shields.io/github/package-json/v/berenteb/szimpla-menetrend?style=for-the-badge">
<img alt="MIT license" src="https://img.shields.io/github/license/berenteb/szimpla-menetrend?style=for-the-badge">