<div class="row">
    <div class="route-field" style="background-color: #<%=route.route_color%>; color: #<%=route.route_text_color%>;">
        <h2><%=data.route.route_short_name %></h2>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <line x1="5" y1="12" x2="19" y2="12" />
        <line x1="13" y1="18" x2="19" y2="12" />
        <line x1="13" y1="6" x2="19" y2="12" />
      </svg>
    <h2><%= data.trip.trip_headsign || "Útirány #"+(data.trip.direction_id+1)  %> </h2>
</div>
<% if(data.timetable.length > 0){ %>
    <h2><%= data.nextText %> </h2>
<% } %> 
<h2><a href="/stop/<%= data.stop.stop_id %> "><%= data.stop.stop_name %></a> megálló indulási idejei a mai napra:</h2>
<div class="column">
    <% if(data.timetable.length === 0){ %> 
        <h2>Nincs információ</h2>
    <% }else{ %> 
        <table class="timetable">
            <% data.timetable.forEach((line)=>{ %> 
                <tr>
                    <td><%=line.hour%></td>
                    <% line.minutes.forEach((minute)=>{ %>
                        <td <% if(minute.next){ %> class="next-time" <% } %>  ><%=minute.minute%>'</td>
                    <% }); %> 
                </tr>
            <% }); %> 
        </table>
    <% } %> 
</div>